{% extends "base.html" %}
{% block content %}
<main>
<section class="container my-5 px-4">
  <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
  <p class="text-center my-4">
    Создайте короткую ссылку автоматически или предложите свой вариант
  </p>

  <div class="container">
    <div class="row my-3">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <form method="POST" novalidate>
        {{ form.csrf_token }}
          <div>
            <div>
              <input type="url" class="form-control form-control-lg py-2 mb-3" id="form-title" name="original_link"
                placeholder="Длинная ссылка">
                {% for error in form.original_link.errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
              <input type="text" class="form-control form-control-lg py-2 mb-3" id="form-link" name="custom_id"
                placeholder="Ваш вариант короткой ссылки">
                {% for error in form.custom_id.errors %}
                  <span style="color: red">{{ error }}</span>
                {% endfor %}
            </div>
            <input type="submit" class="btn btn-primary" value="Создать">
          </div>
        </form>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row ">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <p class="text-center">
            <p class="py-3 mb-3">
              {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
              {% endwith %}
            </p>
          {% if url %}
              <h5 class="text-center">Ваша ссылка: <a href="{{ url }}">{{ url }}</a> </h5>
          {% endif %}
        </p>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>

</section>
</main>
{% endblock content %}
